<div id="<%= dom_id mluserinput %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= mluserinput.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Subject:</strong>
    <%= mluserinput.subject %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Subtopics:</strong>
    <%= mluserinput.subtopics %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Mlinput:</strong>
    <%= mluserinput.mlinput %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this mluserinput", mluserinput, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this mluserinput', edit_mluserinput_path(mluserinput), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
