<div id="<%= dom_id userinput %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= userinput.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Subject:</strong>
    <%= userinput.subject %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Subtopics:</strong>
    <%= userinput.subtopics %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "View this item", userinput, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this item', edit_userinput_path(userinput), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
